@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Playfair Display", sans-serif;
}

body {
    background-image: url(../img/Só\ é\ possível\ se\ você\ acreditar.\ \(4\).png);
    height: 100vh;
    width: 95%;
    background-size: cover;
    background-position: center;

}

header {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

.black {
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;
}

.black a {
    color: rgb(12, 17, 22);
    font-size: 16.5px;
}

.black a:hover {
    color: rgb(255, 255, 255);
    transition: 0.3s all;
}

.azul {
    height: 50px;
    width: 50px;
    background: transparent;
    border: 3px solid green;
    color: rgb(200, 255, 200);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
}

.verde {
    color: black;
    background: transparent;
    border: solid 1px rgb(7, 66, 15);
    padding: 6px;
    border-radius: 13px;
    font-size: 13.7px;
    width: 170px;
    cursor: pointer;
    margin-inline-end: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.verde:hover {
    background-color: rgb(7, 66, 15);
    color: aliceblue;
    transition: 0.5s;
}

#container #planejameto4 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
    text-decoration: none
}

#planejamento4 {
    width: 102%;
    height: 342px;
    margin-top: 150px;
}

.sobre1 {
    color: rgb(0, 0, 0);
    margin-top: 35px;
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 18px;
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    font-weight: bold;
}

.sobre1 span {
    font-weight: bold;
    color: rgb(170, 27, 27);
}

#rodape {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 2px;
    background-color: rgb(0, 0, 0);
    color: white;
    opacity: 0.8;
    width: 1350px;
    display: flex;
}

#rodape {
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color:#000000;
    color: #ffffff;
}

#rodape h2 {
    font-family: 'Merriweather', serif;
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff;
}

#rodape li, #rodape p {
    color: #ffffff;
    line-height: 1.75em;
}

#rodape a {
    color: #F1E1F4;
}

#rodape button {
    color: #ffffff;
    background-color: #a76111;
}

#contato form {
    padding-top: 40px;
}

@media (max-width: 768px) {
    #logo img {
        width: 320px;
    }
    #menu {
        background-color: r;
        padding: 0;
    }
    #menu ul {
        padding-top: 12px;
        justify-content: space-between;
    }

    #menu ul li {
        padding: 0 18px;
    }
    #principal h1 {
        font-size: 32px;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        line-height: 48px;
    }
    #principal p {
        text-align: center;
    }
    #texto p {
        text-align: left;
    }
    #rodape .col-lg- {
        padding-bottom: 40px;
    }
    #contato h1 {
        padding-top: 30px;
    }
}